.wrapper {
  width: 243px;
  border-right: 1px solid #000000;
  background-color: white;
  padding: 20px;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 20px;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;

  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 26px;
}

.header-text {
  font-size: 26px;
  font-family: "Roboto", sans-serif;
  margin-left: 10px;
  font-weight: bold; /* Văn bản in đậm */
}

.icon-wrapper {
  margin-left: auto; /* Đẩy icon sang phải cùng */
}
.icon {
  font-size: 20px;
}

.menu {
  font-size: 26px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin: 0 auto; /* Sử dụng margin: 0 auto để căn giữa */
  width: fit-content; /* Đặt width thành fit-content để phần tử chỉ mở rộng theo nội dung bên trong */
}

.menu-item {
  margin-left: -30px;
  margin-top: 20px;
  width: 188px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 26px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  display: flex;
  align-items: flex-start;
}

.menu-item:hover {
  color: aqua;
}

.item-icon {
  margin-right: 10px;
}
