.product-detail {
  .productdetail-header {
    width: 1400px;
    height: 100px;
    color: black;
    border-bottom: 1px solid #000000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 0px;
    padding: 0 20px;

    .icons {
      position: relative;
    }

    .cart-count {
      background-color: red;
      color: aliceblue;
      border-radius: 98%;
      padding: 5px 10px;
      position: absolute;
      top: -10px;
      right: -10px;
      font-size: 12px;
    }

    .productdetail-top,
    .productdetail-bottom {
      display: flex;
      align-items: center;
    }

    .productdetail-top h1 {
      font-size: 26px;
      margin-left: -710px;
      margin-top: 20px;
    }

    .productdetail-bottom {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-left: -10px;
      margin-right: auto;
      margin-top: -15px;

      h1 {
        margin-right: 20px;
        font-size: 22px;
        font-weight: 500;
        margin-left: 10px;
      }

      .search-container {
        display: flex;
        align-items: center;
        margin-left: 1200px;
        position: relative;
        color: black;
        font-size: 30px;
      }
    }
  }

  .product-detail-page {
    height: 1000px;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
  }

  .product-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    align-self: flex-start;
    margin-right: 20px;
    margin-left: 50px;
  }

  .detail {
    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column;
  }

  .price {
    font-size: 26px;
  }

  .description {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
  }

  h1 {
    margin-top: 0px;
  }

  .star-icon {
    font-size: 30px;
    color: gold;
  }

  .button-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .buy-now-button,
  .add-to-cart-button {
    padding: 10px 20px;
    margin-right: 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }

  .buy-now-button {
    width: 200px;
    background-color: #00c2ff;
    color: white;
  }

  .add-to-cart-button {
    width: 200px;
    background-color: #00ff19;
    color: white;
  }

  .buy-now-button:hover,
  .add-to-cart-button:hover {
    background-color: red;
  }
}
