.product-detail {
  .productdetail-header {
    width: 1400px;
    height: 100px;
    background-color: azure;
    color: black;
    display: flex;
    flex-direction: column; /* Chia theo chiều dọc */
    justify-content: space-between;
    align-items: center;
    border-radius: 0px;
    padding: 0 20px;

    .productdetail-header .icons {
      position: relative;
    }

    .cart-count {
      background-color: red;
      color: aliceblue;
      border-radius: 98%;
      padding: 5px 10px;
      position: absolute;
      top: -10px;
      right: -10px;
      font-size: 12px;
    }

    .productdetail-top,
    .productdetail-bottom {
      display: flex;
      align-items: center;
    }

    .productdetail-top h1 {
      font-size: 26px;
      margin-left: -710px;
      margin-top: 20px;
    }

    .productdetail-bottom {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-left: -10px;
      margin-right: auto;
      margin-top: -15px;

      h1 {
        margin-right: 20px;
        font-size: 22px;
        font-weight: 500;
        margin-left: 10px;
      }
      .search-container {
        display: flex;
        align-items: center;
        margin-left: 1200px;
        position: relative;
        color: black;
        font-size: 30px;
      }
    }
  }
  .product-detail-page {
    height: 1000px;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
  }

  .product-image {
    width: 300px; /* Đặt chiều rộng là 500px */
    height: 300px; /* Đặt chiều cao là 500px */
    object-fit: cover; /* Đảm bảo ảnh không bị méo khi căn chỉnh kích thước */
    align-self: flex-start;
    margin-right: 20px; /* Để tạo khoảng cách giữa ảnh và mô tả */
    margin-left: 50px;
  }

  .detail {
    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column;
  }

  .price {
    font-size: 26px;
  }

  .description {
    font-family: "Roboto", sans-serif; /* Sử dụng font Roboto */
    font-size: 14px; /* Đặt kích thước font chữ */
    font-weight: 500; /* Đặt độ dày cho font chữ */
  }
  h1 {
    margin-top: 0px;
  }
  .star-icon {
    font-size: 30px;
    color: gold;
  }

  .button-container {
    margin-top: 20px; /* Để tạo khoảng cách giữa phần đánh giá và phần nút */
    display: flex; /* Sử dụng flexbox để bố trí các nút */
    align-items: center; /* Căn giữa theo chiều dọc (nếu cần) */
    justify-content: flex-start; /* Căn chỉnh các nút sang mép trái */
  }

  .buy-now-button,
  .add-to-cart-button {
    padding: 10px 20px; /* Đặt lề cho nút */
    margin-right: 20px; /* Để tạo khoảng cách giữa các nút */
    cursor: pointer; /* Biểu tượng con trỏ khi di chuột qua */
    border: none; /* Loại bỏ đường viền */
    border-radius: 5px; /* Bo góc của nút */
    font-size: 16px; /* Cỡ chữ */
  }

  .buy-now-button {
    width: 200px;
    background-color: #00c2ff; /* Màu nền cho nút "Mua Ngay" */
    color: white; /* Màu chữ cho nút "Mua Ngay" */
  }

  .add-to-cart-button {
    width: 200px;
    background-color: #00ff19; /* Màu nền cho nút "Thêm vào Giỏ Hàng" */
    color: white; /* Màu chữ cho nút "Thêm vào Giỏ Hàng" */
  }
  .buy-now-button:hover,
  .add-to-cart-button:hover {
    background-color: red; /* Màu nền đỏ khi hover */
  }
}
