.cart-container {
  position: relative;
  max-width: 1455px;
  font-size: 20px;
  padding: 20px;
  border-bottom: 1px solid #000000;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Căn chỉnh các phần tử vào bên trái */
  gap: 20px; /* Khoảng cách giữa các phần tử */

  .cart-header {
    width: 50px;
    h1 {
      font-size: 24px;
      margin: 0;
    }
  }

  .cart-content {
    width: 100%; /* Đảm bảo nội dung giỏ hàng chiếm hết chiều rộng */
    flex: 1; /* Phần nội dung của giỏ hàng mở rộng để lấp đầy không gian còn lại */
    ul {
      padding: 0;

      li.cart-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border-top: 1px solid black;
        border-bottom: 1px solid #000000;
        border-radius: 5px;
        margin-bottom: 10px;
        width: 100%; /* Làm cho các mục trong giỏ hàng chiếm hết chiều rộng */

        .item-details {
          display: flex;
          align-items: center;

          .item-image {
            width: 200px; /* Đặt chiều rộng hình ảnh */
            height: 200px; /* Đặt chiều cao hình ảnh */
          }

          .details {
            display: flex;
            flex-direction: column;

            .item-description {
              margin-top: 10px;
              margin-bottom: 10px;
              width: 1000px; /* Độ rộng của mô tả */
              font-size: 14px; /* Cỡ chữ */
            }

            .item-quantity {
              margin-top: 10px;
              .quantity-button {
                font-size: 20px;
                color: black;
                border: none;
                border-radius: 4px;
                cursor: pointer;
              }

              .quantity-value {
                margin: 0 10px;
              }
            }
          }
        }

        .remove-button {
          font-size: 20px;
          color: black;
          border: none;
          border-radius: 4px;
        }
      }
    }

    .remove-all-button {
      margin-top: 10px;
      font-size: 16px;
      width: 10%;
      background-color: #dc3545;
      color: #fff;
      border: none;
      padding: 12px;
      border-radius: 4px;
      cursor: pointer;
      text-align: center;
      transition: background-color 0.3s ease;
      margin-left: 1280px;
      &:hover {
        background-color: #c82333;
      }
    }
  }

  .total-section {
    margin-left: 1150px;
    align-self: flex-end; /* Đưa phần tổng giá xuống góc phải dưới */
    width: 250px; /* Đặt chiều rộng của phần tổng giá */
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #f8f9fa; /* Màu nền của phần tổng giá */

    p {
      margin: 5px 0;
      font-size: 18px;
    }
  }
}
